@model WorkoutLog.Models.Training

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<a href="@Url.Action("Create", "ExeTrain", new { trainingId = Model.TrainingId })">
    <button type="button" class="btn btn-default btn-lg">
        Dodaj ćwiczenie <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</a>

<div>
    <h4>Training</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingName)
        </dd>
    </dl>

    @foreach (var exeTrain in Model.ExeTrains)
    {
        <p>Cwiczenie:  @exeTrain.Exercise.ExerciseName</p>
        <p>Seria: @exeTrain.Sets Powt: @exeTrain.Rep</p>
    }

    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="60%">
        <thead>
        <tr>
            <th>Data treningu</th>
            <th>Nazwa</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.Date).</td>
            <td>@Html.DisplayFor(model => model.TrainingName)</td>
        </tr>

        </tbody>
    </table>

    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="60%">
        <thead>
            <tr>
                <th>Cwiczenie:</th>
                <th>Ilość serii:</th>
                <th>Ilość powtórzeń:</th>
                <th>Ciężar:</th>
                <th>Opis:</th>
            </tr>
        </thead>

        <tbody>
           foreach

        </tbody>
    </table>
</div>
<p>
   @* @Html.ActionLink("Edit", "Edit", new { id = Model.TrainingId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
