@model WorkoutLog.ViewModel.TrainingDetails
@{
    ViewBag.Title = "ExerciseDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ExerciseDetails", "AddNew", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Step 2</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ExerciseName, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ExerciseName)
                @Html.ValidationMessageFor(model => model.ExerciseName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Weight, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Weight)
                @Html.ValidationMessageFor(model => model.Weight)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Sets, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Sets)
                @Html.ValidationMessageFor(model => model.Sets)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Rep, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Rep)
                @Html.ValidationMessageFor(model => model.Rep)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Info, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Info)
                @Html.ValidationMessageFor(model => model.Info)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="prevBtn" value="Previous" class="btn btn-default" />
                <input type="submit" name="nextBtn" value="Finish" class="btn btn-default" />
            </div>
        </div>
    </div>
}
